name: Release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      actions: read
      checks: write
      contents: write
      packages: write
      pull-requests: read

    steps:
      - uses: actions/checkout@v6
      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle to support advanced caching
        uses: gradle/actions/setup-gradle@v5.0.1

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create tag and release
        run: |
          VERSION="0.0.${{ github.run_number }}"
          gh release create $VERSION --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build release with Gradle
        run: ./gradlew assemble check

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/build/test-results/**/*.xml'

      - name: Build release with Gradle
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
